@import "primevue/resources/themes/saga-blue/theme.css";

/* All PrimeVue Themes */

/*@import "primevue/resources/themes/md-light-indigo/theme.css";*/
/*@import "primevue/resources/themes/md-light-deeppurple/theme.css";*/
/*@import "primevue/resources/themes/md-dark-indigo/theme.css";*/
/*@import "primevue/resources/themes/md-dark-deeppurple/theme.css";*/
/*@import "primevue/resources/themes/mdc-light-indigo/theme.css";*/
/*@import "primevue/resources/themes/mdc-light-deeppurple/theme.css";*/
/*@import "primevue/resources/themes/mdc-dark-indigo/theme.css";*/
/*@import "primevue/resources/themes/mdc-dark-deeppurple/theme.css";*/
/*@import "primevue/resources/themes/aura-light-blue/theme.css";*/
/*@import "primevue/resources/themes/aura-light-indigo/theme.css";*/
/*@import "primevue/resources/themes/aura-light-purple/theme.css";*/
/*@import "primevue/resources/themes/aura-light-teal/theme.css";*/
/*@import "primevue/resources/themes/aura-light-green/theme.css";*/
/*@import "primevue/resources/themes/aura-light-amber/theme.css";*/
/*@import "primevue/resources/themes/aura-light-cyan/theme.css";*/
/*@import "primevue/resources/themes/aura-light-pink/theme.css";*/
/*@import "primevue/resources/themes/aura-light-lime/theme.css";*/
/*@import "primevue/resources/themes/aura-light-noir/theme.css";*/
/*@import "primevue/resources/themes/aura-dark-blue/theme.css";*/
/*@import "primevue/resources/themes/aura-dark-indigo/theme.css";*/
/*@import "primevue/resources/themes/aura-dark-purple/theme.css";*/
/*@import "primevue/resources/themes/aura-dark-teal/theme.css";*/
/*@import "primevue/resources/themes/aura-dark-green/theme.css";*/
/*@import "primevue/resources/themes/aura-dark-amber/theme.css";*/
/*@import "primevue/resources/themes/aura-dark-cyan/theme.css";*/
/*@import "primevue/resources/themes/aura-dark-pink/theme.css";*/
/*@import "primevue/resources/themes/aura-dark-lime/theme.css";*/
/*@import "primevue/resources/themes/aura-dark-noir/theme.css";*/
/*@import "primevue/resources/themes/lara-light-blue/theme.css";*/
/*@import "primevue/resources/themes/lara-light-indigo/theme.css";*/
/*@import "primevue/resources/themes/lara-light-purple/theme.css";*/
/*@import "primevue/resources/themes/lara-light-teal/theme.css";*/
/*@import "primevue/resources/themes/lara-light-green/theme.css";*/
/*@import "primevue/resources/themes/lara-light-amber/theme.css";*/
/*@import "primevue/resources/themes/lara-light-cyan/theme.css";*/
/*@import "primevue/resources/themes/lara-light-pink/theme.css";*/
/*@import "primevue/resources/themes/lara-dark-blue/theme.css";*/
/*@import "primevue/resources/themes/lara-dark-indigo/theme.css";*/
/*@import "primevue/resources/themes/lara-dark-purple/theme.css";*/
/*@import "primevue/resources/themes/lara-dark-teal/theme.css";*/
/*@import "primevue/resources/themes/lara-dark-green/theme.css";*/
/*@import "primevue/resources/themes/lara-dark-amber/theme.css";*/
/*@import "primevue/resources/themes/lara-dark-cyan/theme.css";*/
/*@import "primevue/resources/themes/lara-dark-pink/theme.css";*/

@import "primevue/resources/primevue.min.css";
@import "primeicons/primeicons.css";

/*@tailwind base;*/
//@tailwind components;
//@tailwind utilities;

body {
    font-size: 0.75rem;

    @include breakpoint('s') {
        font-size: 0.75rem; // Für kleine Bildschirme (max-width: 767px)
    }

    @include breakpoint('m') {
        font-size: 0.75rem; // Für mittlere Bildschirme (768px bis 991px)
    }

    @include breakpoint('l') {
        font-size: 0.75rem; // Für große Bildschirme (992px bis 1199px)
    }

    @include breakpoint('xl') {
        font-size: 0.75rem; // Für extra große Bildschirme (min-width: 1200px)
    }
}

.p-datatable {
    @include breakpoint('s') {
        font-size: 0.75rem; // Für kleine Bildschirme (max-width: 767px)
    }

    @include breakpoint('m') {
        font-size: 0.75rem; // Für mittlere Bildschirme (768px bis 991px)
    }

    @include breakpoint('l') {
        font-size: 0.75rem; // Für große Bildschirme (992px bis 1199px)
    }

    @include breakpoint('xl') {
        font-size: 0.75rem; // Für extra große Bildschirme (min-width: 1200px)
    }
}

/**
 * Buttons
 */

.button {
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    background: grey;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in-out;
}
